
.cart-item-container {
  display: flex;
  border-bottom: 1px solid lightslategray;
  img {
    height: 9rem;
    width: 9rem;
    flex: 3;
  }

  svg {
    margin: 0.5rem
  }
}


.cart-item-container__data {
  flex: 8;
  h2 {
    font-size: 0.9rem;
    margin-top: 0.7rem;
  }

  p {
    font-size: 0.6rem;
  }

  input {
    width: 5rem;
  }
}

@media (min-width: 992px) {
  .cart-item-container__data {
  }


  .react-numeric-input  b{
    height: inherit;
  }


  .cart-item-container {
    max-width: 50rem;
    margin: 0 auto;

    img {
      max-width: 10rem;
    }
  }

  .user-cart-container{
    margin: 0 10rem;
  }

  .next-section-button {
    max-width: 20rem;
    margin-top: 2rem;
    float: right;
    margin-left: 3rem;
  }

  .cart-size {
    margin-top: 2rem;
  }
}