
.confirmation-screen-container {
  margin-top: 1rem;
  padding: 1rem 0;

  h1 {
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  h2 {
    font-size: 1.3rem;
    padding-left: 2.5rem;
    margin-top: 2rem;
  }
}

.address-review-container {
  padding-left: 3rem;
  margin-top: 2rem;

  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.7rem;
  }
}

.card-review-container {
  padding-left: 3rem;
  margin-top: 2rem;
  p {
    font-size: 0.9rem;
  }
}



