@import "../../styles/partials/global";

.purchases-section {
  font-family: $font-main;
}

.carousel {
  background-color: $card-background-color;
}

.carousel-inner {
  width: 100%;
}

.carousel-indicators {
  color: black;
}